<!--  ########################################################################################-->
<!--  ########################################################################################-->
<!--  ###########################LOGIN CODE FOR THE SESSION###################################-->
<!--  #############################CREATED AND DONE BY:#######################################-->
<!--  #################################KHALED MAAMMAR#########################################-->
<!--  ######################################2A6###############################################-->
<!--  ########################################################################################-->
<!--  ########################################################################################-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form method="POST" action="connexion.php">
  <p>Login :
    <input type="text" name="cinUtilisateur" id="cinUtilisateur"/>
  </p>
  <p>Password : 
    <input type="password" name="password" id="password"/>
  </p>
  <p>
    <input type="submit" name="button" id="button" value="Valider" />
  </p>
</form>
</body>
</html>
